/*
!.gitignore
!README.md


# X-server
!.xinitrc
!.Xauthority
!.Xresources
!.Xresources.urxvt"
!.Xresources.xft

# bash
!.bash_history
!.bash_logout
!.bash_profile
!.bashrc

# zsh
!.zprofile
!.zlogin
!.zshenv
!.zshrc

# nano
!.nanorc

# vim
!.vimrc

# xxkb
!.xxkbrc

# conky
!.conkyrc

#vscode
#!.vscode/

# background
!background.jpg

# playlist
!vlc-playlist.xspf

# gtk
!.gtkrc-2.0
!.gtkrc-2.0.mine

## .config folder
!.config/
.config/*


!.config/gsimplecal/
!.config/i3/
!.config/i3blocks/
!.config/nitrogen/
!.config/pcmanfm/
!.config/ranger/
!.config/rofi/
!.config/terminator/
!.config/Mousepad/
!.config/gtk-3.0/
!.config/qt5ct/
!.config/compton/
!.config/backgrounds/

!.config/qxkb.cfg
# !.config/qxkb.pid
!.config/redshift.conf

!.config/xfce4
.config/xfce4/*

!.config/xfce4/xfconf/
.config/xfce4/xfconf/xfce-perchannel-xml/*

!.config/xfce4/xfconf/xfce-perchannel-xml/xfce4-notifyd.xml
!.config/xfce4/xfconf/xfce-perchannel-xml/xfce4-power-manager.xml




