#include ".config/xresources/.Xresources.xterm"
#include ".config/xresources/.Xresources.urxvt"
#include ".config/xresources/.Xresources.xft"
#include ".config/xresources/.Xresources.colors"
#include ".config/xresources/.Xresources.st"
