Xft.dpi: 96.0
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.antialias: true
Xft.rgba: none

URxvt*urgentOnBell: true
URxvt*utf8: 1
URxvt*locale: 1

URxvt*foreground: #9CA4B3
URxvt*background: #000000
URxvt.scrollBar: false
URxvt.font: xft:Monospace:size=10

URxvt*termName: rxvt-unicode
URxvt*imLocale: en_US.UTF-8

URxvt.perl-ext-common:      default,clipboard,url-select,keyboard-select
URxvt.url-select.launcher:  chromium
URxvt.url-select.underline: true
URxvt.keysym.M-u:           perl:url-select:select_next
URxvt.keysym.M-Escape:      perl:keyboard-select:activate
URxvt.keysym.M-s:           perl:keyboard-select:search
